@font-face {
    font-family: 'lucon';
    src: url(fonts/lucon.woff2);
}

@font-face {
    font-family: 'cnr';
    src: url(fonts/ComicNeue-Regular.woff2);
}

@font-face {
    font-family: 'SourceCodePro';
    src: url(fonts/SourceCodePro-Regular.woff2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --px0: 2px;
    --px1: 4px;
    --px2: 8px;

}

body {
    height: calc(400px * 32);
    margin: 0;
}

main {
    width: min(800px, calc(70% + 100px));
}

/* nav stlye sector */
nav {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.0923);
}

#sticky-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline-start: 0;
    text-align: center;
}

div#sticky-nav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding:16px;
    border-left: 1px solid teal;
    border-right: 1px solid teal;
    color: teal;
    transition: background-color .3s, color 1s ease;
}

div#sticky-nav a:hover {
    background-color: rgb(50, 250, 200);
    color: rgb(0, 0, 0);
}