/* 
    Firstly, before you read this or edit this file, 
    I want to warn you that I'm training on 
    self-cared css declaration, so, there will be 
    lots of commend stuff going on down there LoL.
*/

@font-face {
    font-family: 'lucida console';
    src: url(fonts/lucon.woff2);
}

@font-face {
    font-family: 'cnr';
    src: url(fonts/ComicNeue-Regular.woff2);
}

@font-face {
    font-family: 'SourceCodePro';
    src: url(fonts/SourceCodePro-Regular.woff2);
}

@font-face {
    font-family: 'play';
    src: url(fonts/Play.woff2);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto.woff2);
}

@font-face {
    font-family: "SuperMaizen";
    src: url(fonts/SuperMaizenRegular-axAwE.woff2);
}

@font-face {
    font-family: "AdobeCleanBlack";
    src: url(fonts/AdobeClean-Black.woff2);
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.woff2);
}

@font-face {
    font-family: "YouTubeSans";
    src: url(fonts/youtube-sans-light.ttf);
}

@font-face {
    font-family: Gotham;
    src: url(fonts/GothamBook.ttf);
}

:root {
    --dP: 8px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: calc(400px * 32);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 6px;
    width: min(330px, calc(70% + 100px));
}

main {
    padding-top: 1.5rem;
}

/* nav styles */
nav {
    width: 100%;
    /* (●ˇ∀ˇ●) */
    position: fixed;
    top: 0;
    left: 0;
}

#sticky-nav {
    /* layout stuff */
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #dcdcdc54;
    /* text stuff */
    text-align: center;
    /* visual stuff */
    backdrop-filter: blur(2px);
}

a.nLink {
    border-left: 1px solid cyan;
    border-right: 1px solid cyan;
    padding: min(16px, calc(1vw + 2px));
    /* text stuff */
    color: rgb(87, 87, 87);
    text-decoration: none;
    /* animation stuff */
    transition: all .3s ease-in-out;
}

a.nLink:hover {
    color: #fff;
    background-color: rgba(97, 97, 97, 0.5);
}


/* card style */
.card {
    border-radius: var(--dP);
    margin-top: 3rem;
    transition: all .3s ease-out;
}

.card:hover {
    box-shadow: -4px 7px 20px 0 rgb(0 0 0 / 30%), 2px 0 20px 0 rgb(0 0 0 / 30%);
}

.header {
    padding: 1rem .3rem 0;
    /* text stuff */
    text-align: center;
}

.cardI {
    width: 90%;
    text-align: right;
    padding: 0.4rem;
}

.wraps {
    /* display stuff */
    display: grid;
    /* makes the image and info aligned center */
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
}

.wraps ul {
    list-style: none;
    padding-inline-start: 0;
}

.img {
    /* default display */
    width: calc(100px + 3vw);
    border-radius: calc(var(--dP) / 2);
    padding-left: .8rem;
}

/* buttons */
.wrapsBTN {
    /* display stuff */
    /* makes buttons aligned center */
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* put a bit of space between content wrapper */
    margin-top: 1rem;
}

.btn {
    padding: .8rem 1rem;
    /* text stuff */
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    /* animation stuff */
    transition: all .3s ease;
}

/* button styles */
.spotify {
    font-family: Gotham;
    border-bottom-right-radius: var(--dP);
}

.spotify:hover {
    background-color: #191414;
    color: #1DB954;
}

.youtube {
    font-family: "YouTubeSans";
    font-weight: bolder;
    border-bottom-left-radius: var(--dP);
}

.youtube:hover {
    background-color: #FF0000;
    color: #282828;
}

@media screen and (min-width: 546.5px) {
    body {
        width: 100%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 2rem 3rem;
    }
}