/* 
    Firstly, before you read this or edit this file, 
    I want to warn you that I'm training on 
    self-cared css declaration, so, there will be 
    lots of commend stuff going on down there LoL.
*/

@font-face {
    font-family: 'lucida console';
    src: url(fonts/lucon.woff2);
}

@font-face {
    font-family: 'cnr';
    src: url(fonts/ComicNeue-Regular.woff2);
}

@font-face {
    font-family: 'SourceCodePro';
    src: url(fonts/SourceCodePro-Regular.woff2);
}

@font-face {
    font-family: 'play';
    src: url(fonts/Play.woff2);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto.woff2);
}

@font-face {
    font-family: "SuperMaizen";
    src: url(fonts/SuperMaizenRegular-axAwE.woff2);
}

@font-face {
    font-family: "AdobeCleanBlack";
    src: url(fonts/AdobeClean-Black.woff2);
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.woff2);
}

@font-face {
    font-family: "YouTubeSans";
    src: url(fonts/youtube-sans-light.ttf);
}

@font-face {
    font-family: Gotham;
    src: url(fonts/GothamBook.ttf);
}

:root {
    --px: 8px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* transition: all 1.6s ease; */
}

body {
    height: calc(400px * 32);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 6px;
    background: url(img/bg/huh.jpg);
}

main {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 1rem 3rem;
}

*::selection {
    background-color: #b2dae6;
    color: #7c5361;
}

/* nav styles */
nav {
    width: 100%;
    /* (●ˇ∀ˇ●) */
    position: fixed;
    top: 0;
    left: 0;
}

#sticky-nav {
    /* layout stuff */
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #dcdcdc54;
    /* text stuff */
    text-align: center;
    /* visual stuff */
    backdrop-filter: blur(2px);
}

a {
    color: #fff;
}

a.nav-link {
    border-left: 1px solid cyan;
    border-right: 1px solid cyan;
    padding: min(16px, calc(1vw + 2px));
    /* text stuff */
    color: rgb(87, 87, 87);
    text-decoration: none;
    /* animation stuff */
    transition: all .3s ease-in-out;
}

a.nav-link:hover {
    color: #fff;
    background-color: rgba(97, 97, 97, 0.5);
}

/* card style */
.card {
    border-radius: var(--px);
    margin-top: 3rem;
    color: #fff;
    transition: all .3s ease-out;
}

.card:hover {
    box-shadow: -4px 7px 20px 0 rgb(0 0 0 / 30%), 2px 0 20px 0 rgb(0 0 0 / 30%);
}

.cardH {
    padding: 1rem .3rem 0;
    /* text stuff */
    text-align: center;
}

.content-wrapper {
    /* display stuff */
    display: grid;
    /* makes the image and info aligned center */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 0 .6rem;
    word-break: break-all;
    text-align: end;
}

.content-wrapper ul {
    list-style: none;
    padding-inline-start: 0;
}

.cardP {
    /* default display */
    width: calc(85px + 3vw);
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
    border-radius: var(--px);
}

/* background image works */
.bg-img {
    background: url(img/bg/bg.jpg) no-repeat;
}

.explicit {
    background: url(img/bg/wut.jpg) no-repeat;
}

.explicit:hover {
    box-shadow: 0 0 34px 0 #ff0000;

}

.soft {
    background: url(img/bg/hmm-soft.jpg) no-repeat;
}

.soft:hover {
    box-shadow: -4px 7px 20px 0 #5aaad84d, 2px 0 20px 0 #59dfbd4d;

}

.sad {
    background: url(img/bg/hmm-sad.jpg) no-repeat;
}

.sad:hover {
    box-shadow: -4px 7px 20px 0 #ecd136ab, 2px 0 20px 0 #e23a3aab;

}

.bg {
    background-size: cover;
    background-position: center;    
}

/* buttons */
.btn-wrapper {
    /* display stuff */
    /* makes buttons aligned center */
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* put a bit of space between content wrapper */
    margin-top: 1rem;
}

.btn {
    padding: .8rem 1rem;
    /* text stuff */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    /* animation stuff */
    transition: all .3s ease;
}

/* button styles */
.spotify {
    font-family: Gotham;
    border-bottom-right-radius: var(--px);
}

.spotify:hover {
    background-color: #191414;
    color: #1DB954;
}

.youtube {
    font-family: "YouTubeSans";
    border-bottom-left-radius: var(--px);
}

.youtube:hover {
    background-color: #FF0000;
    color: #282828;
}